[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
jinja2 = "*"
jupyter-pip = "*"
ipykernel = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.10"
